/* Importing fonts and normalize.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css');




/* Index.html */
/* General Styles */
body, html {
  font-family: 'DM Mono', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(176,183,192);
  background: linear-gradient(180deg, rgba(176,183,192,0.986453956582633) 15%, rgba(245, 216, 211, 0.958) 87%);
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden; 
}

p{
  font-family: "dm mono";
  color: whitesmoke;
  font-size: 16px;
}

/* Container 1 */
.container-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-1 p {
  font-size: 36px;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container-1 p span.typed-text {
  font-weight: normal;
  color: #27251f;
  font-size: 36px;
}

.container-1 p span.cursor {
  display: inline-block;
  background-color: #c4ced4;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.container-1 p span.cursor.typing {
  animation: none;
}

@keyframes moveShape {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* style.css */
#detoxButton {
  background-color: transparent;
  border: 1px solid transparent; /* Specify 'solid' and the border color */
  color: black;
  background-color: #b7c0b0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px; /* Adjusted for a more balanced appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#detoxButton:hover {
  background-color: #9fa899; /* Use rgba for better control over opacity */
  color: white;
}








/* Detox Page */
/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'DM Mono';
  scroll-snap-type: y mandatory;
}


/* Add this to your existing CSS file or style tag */
.bottom-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.circle-icon {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.547);
  color: rgb(110, 110, 110);
  border-radius: 50%;
  padding: 12px;
  margin-bottom: px;
  transition: background-color 0.3s ease;
}

.circle-icon:hover {
  background-color: whitesmoke;
}


/* Timer section styles */
#blackScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#endMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  color: white;
  margin-top: 25%;
}

#redirectBtn {
  padding: 10px 40px;
  font-size: 18px;
  margin-top: 50px;
  background-color: #b7c0b0;
  color: black;
  border: none;
  cursor: pointer;
  margin-left: 42%;
}

#redirectBtn:hover{
  background-color: #b7c0b0;
  color: white;
}

#timer-section {
  position: fixed;
  top: 20px; /* Adjust top spacing */
  left: 20px; /* Add left spacing */
  right: 20px; /* Add right spacing */
  width: calc(100% - 50px); /* Calculate width to consider left and right spacing */
  z-index: 999; /* Ensure it appears above other content */
  padding: 10px;
  color: transparent;
  box-sizing: border-box;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Spread items evenly */
  align-items: center; /* Center vertically */
}

/* Container for both sections */
.container {
  display: flex; /* Using flexbox for horizontal layout */
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  overflow: hidden; /* Prevent scrolling on the container */
}

/* Right section styling */
.right-section {
  flex-grow: 1; /* Takes up remaining space */
  width: 100%; /* 70% of the viewport width */
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Padding for content */
}

#minutesInput,
#btn,
#resetBtn {
  margin: 0 20px; /* Add spacing between elements */
}

/* Button styles */
#btn {
  border: 2px solid #010101;
  align-items: center;
  border-radius: 64px;
  margin-top: 10px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  letter-spacing: 1px;
  margin-right: 20px;
}

#btn:hover {
  background-color: #ccc;
  border-color: rgb(0, 0, 0); /* Adjusted border color */
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2); /* Adjusted shadow color */
  color: white;
  text-decoration: none;
}

#resetBtn {
  display: none;
  border: 2px solid #ccc;
  border-radius: 64px;
  background-color: transparent;
  color: #333;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#resetBtn:hover {
  background-color: #545454;
}

#countdown {
  font-size: 160px; /* Larger font size as per your request */
  color: transparent;
  -webkit-text-stroke: 2px rgb(110, 110, 110); /* Stroke color for WebKit browsers */
  margin-left: 20px;
}

h2 {
  color: #333;
}

#minutesInput {
  padding: 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #222; /* Optional: dark background to make placeholder shine */
  border: none; /* Optional: remove border for a sleek look */
  color: grey; /* Text color */
  font-size: 16px; /* Increase font size for better readability */
}

#minutesInput::placeholder {
  color: #f8fbf8; /* Bright green color for the placeholder */
  opacity: 1; /* Full opacity */
  text-shadow: 0 0 5px rgba(252, 255, 172, 0.7); /* Glow effect around the text */
  transition: text-shadow 1s ease-in-out; /* Smooth transition for the effect */
}

#minutesInput:hover::placeholder {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.367), 0 0 20px rgb(245, 249, 245); /* Enhanced glow when hovering */
}

.container-1 {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Prevents scrolling of the entire page */
}

/* Fixed timer input section */
#timer-input-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed; /* Fixed positioning */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  z-index: 1000; /* Ensures it stays on top */
  padding: 10px;
  border-radius: 8px;
}

/* Parent container styled as a flexbox */
#timer-input-section {
  display: flex;
  flex-direction: row;  /* Align children horizontally */
  align-items: center;  /* Center-align children vertically */
  justify-content: space-between;  /* Distribute space between children */
  gap: 10px;  /* Space between children */
}

/* Uniform styles for both inputs and buttons */
#timer-input-section input,
#timer-input-section button {
  flex: 1;  /* Allow input and button to grow and fill the space equally */
  margin: 5px;  /* Uniform margin */
  padding: 10px;  /* Uniform padding */
  font-size: 14px;  /* Uniform font size */
  color: black;  /* Text color */
  background-color: transparent;  /* Background */
  border: none;  
  border-radius: 8px;  /* Rounded corners */
  outline: none;  /* No focus outline */
}

#timer-input-section button {
  background-color: #b7c0b0;  /* Button background color */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#timer-input-section button:hover {
  background-color: #9da9a0;  /* Darker shade on hover */
}

/* Main content section that scrolls */
.right-section {
  flex-grow: 1; /* Takes up the remaining space */
  overflow-y: auto; /* Allows vertical scrolling */
  padding: 10px;
  margin-top: 60px; /* Adds top margin to avoid overlapping with the fixed header */
}

/* Additional style adjustments for visual enhancement */
button {
  background-color: #ffffffe0; 
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 60px;
}

button:hover {
  background-color: #000000e0;
  color: white;
}

/* Main sections wrapper */
#main-sections {
  width: 100%;
  /* Adjust to account for fixed timer section */
  height: 100vh;
  position: fixed;
  overflow-y: fixed; /* Change to scroll to enable scrolling */
  overflow-x: hidden;
  background: rgb(176,183,192);
  background: linear-gradient(180deg, rgba(176,183,192,0.986453956582633) 15%, rgba(245, 216, 211, 0.958) 87%);
}

/* Main sections */
#spin-section,
#clock-section,
#music-section,
#photo-gallery-section {
  height: 100vh; /* Set same height as timer section */
  padding: 20px;
  box-sizing: border-box;

  animation: moveBackgroundSpin 20s linear infinite;
}

/* Section headings */
#clock-section h2,
#music-section h2,
#spin-section h2,
#photo-gallery-section h2 {
  text-align: center;
  margin-top: 0;
}

/* List styles */
#clock-section ul,
#music-section ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#clock-section li,
#music-section li {
  margin: 10px 0;
}

/* Scroll */
html,
body {
  height: 100%;
  margin: 0;
}

.scroll-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow: hidden;
  height: 100vh; /* Full viewport height */
}

.scroll-section {
  flex: 0 0 100%;
  min-width: 100vw; /* Minimum width for each section */
  height: 100vh; /* Full viewport height */
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Optional padding for each section */
  box-sizing: border-box; /* Include padding in width calculation */
  position: relative; /* Position relative for dot indicator */
}

@keyframes moveBackgroundSpin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveBackgroundClock {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveBackgroundMusic {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes moveBackgroundPhotoGallery {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: -200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Music Section */
#music-section {
  display: flex;
  flex-direction: row; /* Changed to row to place elements side by side */
  align-items: center;
  justify-content: center;
  color: white;
  padding: 60px;
  width: 80%;
  max-width: 100%; /* Increased to better handle two columns */
  overflow-y: auto; /* Allows for vertical scrolling if needed */
  gap: 10px; /* Adds space between the two columns */
}

.track-list {
  margin-top: 20px; /* Reduced top margin for better space usage */
  width: 60%; /* Utilize more of the screen width */
  max-width: none; /* Remove the max-width restriction */
  padding: 4em; /* Reduce padding to save space */
  border-radius: 30px; /* Smaller radius for a softer look on smaller screens */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Lighter shadow for subtlety */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.player-section {
  width: 60%; /* Adjust width for side column containing the player */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-title {
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin: 10px 0;
  transition: transform 0.3s ease;
  padding: 8px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 100%; /* Makes sure titles use full available width */
}

.song-title:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

audio {
  width: 50%; /* Full width to match the player section */
  margin-top: 20px;
  outline: none;
  border-radius: 10px;
}

.song-title.active {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}


/* Photo Section */
#photo-gallery-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; /* Hide other images from view */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative; /* Needed for absolute positioning of images */
}

.gallery-image {
  position: absolute; /* Make images stack over each other */
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s ease-in-out;
  opacity: 0; /* Images are initially hidden */
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 400px; /* Smaller maximum width */
}

.gallery-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


/* Background */
body {
  background: rgb(176,183,192);
  background: linear-gradient(180deg, rgba(176,183,192,0.986453956582633) 15%, rgba(245, 216, 211, 0.958) 87%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Spin wheel wrapper */
.wrapper {
  margin-top: 90px;
  width: 90%;
  max-width: 34.37em;
  max-height: 100vh;
  position: relative; /* Updated position */
  padding: 3em;
  border-radius: 80px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

/* Spin wheel container */
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Spin button with arrow */
/* Spin button with arrow */
#spin-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #b7c0b0, #9DB1D5);
  color: white;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 24px;
  font-weight: bold;
  user-select: none; /* Prevent text selection */
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

#spin-btn::before {
  content: '↻'; /* Unicode for arrow */
  margin-bottom: 10px;
  display: block;
}

/* Hover effect */
#spin-btn:hover {
  box-shadow: 0 0 20px #b7c0b0, 0 0 40px #9DB1D5 inset;
}

/* Animation to create a shine effect */
@keyframes shine-effect {
  0%, 100% {
    box-shadow: 0 0 8px rgb(216, 216, 216);
  }
  50% {
    box-shadow: 0 0 20px #9DB1D5, 0 0 40px #9DB1D5 inset;
  }
}

#spin-btn {
  animation: shine-effect 2s infinite alternate ease-in-out;
}










/* Responsive */
@media (max-width: 768px) {
  #clock {
    top: 35%;
    scale: 0.6;
  }
  body, html {
    font-family: 'DM Mono', monospace;
    background: linear-gradient(180deg, rgba(176,183,192,1) 15%, rgba(245, 216, 211, 0.958) 87%);
    color: white;
    overflow-x: hidden;
    font-size: 12px; /* Slightly smaller font size for readability on mobile */
  }
  
  p {
    font-size: 12px; /* Adjust paragraph font size for mobile readability */
  }

  .container {
    flex-direction: column;
  }

  .left-section, .right-section {
    position: static; /* Reset positioning */
    width: 100%; /* Full width */
    margin-left: 0; /* Reset margin */
    height: auto; /* Height to fit content */
    flex-grow: 0; /* Disable growing */
  }

  .right-section {
    overflow-y: visible; /* Adjust scrolling if needed */
  }

  .wrapper {
      font-size: 12px;
      width: 100%;
      align-items: center;
      max-width: 34.37em;
      max-height: 100vh;
      position: relative;
      padding: 3em;
      border-radius: 80px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
      margin-top: 220px;
  }
  

/* Adjustments for container 1 */
.container-1 p {
    font-size: 30px; /* Smaller font size for headlines */
}

.container-1 p span.typed-text{
  font-size: 24px; /* Smaller font size for headlines */
}

/* Button styles */
#detoxButton, #redirectBtn, #btn, #resetBtn {
    padding: 10px 25px; /* Smaller padding */
    font-size: 14px; /* Smaller font size */
}

#timer-input-section {
  grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
  justify-content: space-between; /* This will space the two grid items apart */
  align-items: center;
  position: fixed; /* Fixed positioning */
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  z-index: 1000; /* Ensures it stays on top */
  padding: 10px;
  border-radius: 8px;
}

/* Layout adjustments */
.container, .right-section, .container-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Container holding the icons */
.bottom-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically within the container */
  padding: 10px 0; /* Add padding on top and bottom */
  z-index: 1000; /* Ensure it's above other content */
  border-radius: 20px;
  animation: 500ms ease 200ms 1 normal forwards running k-PnvVd;
}

/* Individual icons */
.circle-icon {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.547);
  color: rgb(110, 110, 110);
  border-radius: 50%;
  padding: 12px;
  margin: 0 10px; /* Space out the icons */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  cursor: pointer; /* Change cursor to pointer to indicate clickable items */
}

.circle-icon:hover {
  background-color: whitesmoke; /* Darken background on hover for interactive feedback */
}

/* Adjust styles for media elements and sections */
#timer-section, #music-section, #photo-gallery-section, #spin-section {
    padding: 10px;
    display: block; /* Ensure these elements are more compact */
}

#main-sections, .scroll-container, .scroll-section {
    width: 100%; /* Ensure these containers take full width */
}

.track-list, .player-section  {
    width: 100%; /* Smaller width for fitting in mobile view */
}

audio, .song-title, button {
    width: 100%; /* Full width elements for easier interaction */
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns children (audio, song-title, button) centrally */
}

.main-audio{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns children (audio, song-title, button) centrally */
}


/* Additional responsiveness for images and backgrounds */
.gallery-image img {
    max-width: 300px; /* Smaller images for better fit */
}

.gallery-image {
  width: 80%; /* Smaller width for fitting in mobile view */
  top:22%;
}

.track-list {
  margin-top: 200px; /* Reduced top margin for better space usage */
  width: 100%; /* Utilize more of the screen width */
  max-width: none; /* Remove the max-width restriction */
  padding: 1em; /* Reduce padding to save space */
  border-radius: 30px; /* Smaller radius for a softer look on smaller screens */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Lighter shadow for subtlety */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adjust background settings for various sections to ensure good visibility */
body, #main-sections, #spin-section, #clock-section, #music-section, #photo-gallery-section {
    background-size: cover; /* Ensure backgrounds cover the available space well */
}


/* Adjust the fixed timer input section for mobile */
  #timer-input-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* This will create two columns of equal width */
    align-items: center; /* This will vertically center the items in their respective cells */
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px;
    border-radius: 8px;
    width: auto; /* Adjust this as needed, or use max-width for responsiveness */
    box-sizing: border-box; /* Includes padding in width calculations */
}
  

  /* Styling for the countdown display to appear right below the input section */
  #countdown {
      position: fixed;
      top: 100px; /* Position it below the input section */
      left: 0;
      right: 0;
      width: 60%; /* Full width */
      margin-left: 20%;
      font-size: 36px; /* Large font size for easy reading */
      color: transparent; /* High contrast color for visibility */
      text-align: center; /* Center the text */
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.1); /* Slightly different background for distinction */
      padding: 15px 0px; /* Padding for visual spacing */
      z-index: 999; /* Just below the input section in stacking context */

  }

  /* Ensure inputs and buttons are usable on mobile */
  #timer-input-section input, #timer-input-section button {
      width: 90%; /* Slightly less than full width for aesthetics */
      margin: 5px auto; /* Center and space out */
      display: block; /* Stack elements vertically */
  }


  /* Optional: Adjust other elements that might be affected by the layout change */
  .other-elements {
      margin-top: 180px; /* Provide space below the fixed countdown timer */
  }


/* Timer section styles optimized for mobile */
#blackScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#endMessage {
 margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px; /* Smaller font size for smaller screens */
  color: white;
  padding: 10%; /* Use padding instead of margin for better spacing */
}

#redirectBtn {
  padding: 10px 20px; /* Smaller padding */
  font-size: 16px; /* Smaller font size for better readability */
  background-color: #b7c0b0;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 10px; /* Reduced margin top */
  width: 40%; /* Wider button for easier touch interaction */
  margin-left: 115px;

}

#redirectBtn:hover {
  background-color: black; /* Slightly lighter on hover */
  color: white;
}

#timer-section {
  position: fixed;
  top: 10px; /* Reduce top spacing */
  left: 10px; /* Reduce left spacing */
  right: 10px; /* Reduce right spacing */
  width: calc(100% - 20px); /* Adjust width for new spacing */
  z-index: 999;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#minutesInput {
  padding: 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #222; /* Optional: dark background to make placeholder shine */
  border: none; /* Optional: remove border for a sleek look */
  color: grey; /* Text color */
  font-size: 16px; /* Increase font size for better readability */
}

#minutesInput::placeholder {
  color: #f8fbf8; /* Bright green color for the placeholder */
  opacity: 1; /* Full opacity */
  text-shadow: 0 0 5px rgba(252, 255, 172, 0.7); /* Glow effect around the text */
  transition: text-shadow 1s ease-in-out; /* Smooth transition for the effect */
}

#minutesInput:hover::placeholder {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.367), 0 0 20px rgb(245, 249, 245); /* Enhanced glow when hovering */
}




@media (max-width: 480px) {
  #endMessage {
    font-size: 18px; /* Even smaller font size for very small devices */
  }
  
  #redirectBtn {
    font-size: 14px; /* Smaller font size for very small devices */
    padding: 8px 16px; /* Slightly smaller padding */
  }
}}
























